#contato {
    padding: 20px;
    background-color: #c9c9c9;
  }
  
  #contato h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #contato ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #contato ul li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  #contato ul li strong {
    font-weight: bold;
    margin-right: 10px;
  }